@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
  box-sizing: border-box;
}
body {
 background-color: #C81D25;
 min-height: 100vh;
 font-family: 'Lato', sans-serif;
}
.container{
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.display{
  background-color: #BFD7EA;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
.drum-pad{
  background-color: #FF5A5F;
  border: 2px solid #087E8B;
  color: #0B3954;
  cursor: pointer;
  border-radius: 4px;
  height: 100px;
  width: 100px;
  margin: 10px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.drum-pad.active{
  opacity: 0.8;
  transform: scale(0.95);
}
.display h1{
  display: block;
  width:100%;
  text-align: center;
  color: #0B3954;
}

footer p {
  text-align: center;
  color: #BFD7EA;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
header h1{
  margin:0;
  font-family: 'Lato', sans-serif;
  color:#BFD7EA;
  text-align: center;
}